@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .commonLayoutContainer {
    @apply mx-auto h-full w-full min-w-[320px] max-w-[600px] overflow-hidden bg-[--layoutBg] shadow-md;
  }
  .labelBtn {
    @apply rounded-xl border border-solid font-normal !important;
  }
  .labelBtn.primary {
    @apply border-primary text-primary !important;
  }
  .labelBtn.default {
    @apply border-border text-text !important;
  }
}

:root {
  --layoutBg: #ffffff;
  --textWhite: #ffffff;
  --text: #333;
  --primary: #0da0c5;
  --point: #ed9e2f;
  --semiPrimary: #bbdaed;
  --colorBg: #effcff;
  --semiPrimary30: rgba(187, 218, 237, 0.3);
  --border: #d9d9d9;
  --surface: #f5f5f5;
  --darkSurface: #d9d9d9;
  --textGray: #929292;
  --textDisabled: #999;
  --textPlaceholder: #b3b3b3;
  --disabledBorder: #b2b2b2;
  --disabledBg: #d9d9d9;
  --font-gamtan: "gamtan", sans-serif;
  --font-tantan: "tantan", sans-serif;
  --hover: #215c75;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea,
button,
select {
  margin: 0;
  padding: 0;
  border: 0;
  color: #333;
  box-sizing: border-box;
  /* font-family: "Noto Sans KR", sans-serif; */
  font-family: var(--font-gamtan), "Noto Sans KR";
  font-weight: 400;
  outline: none;
  line-height: 1.5;
  font-size: 14px;
}

button {
  background: none;
}

html {
  font-size: 14px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  overflow-y: auto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table th {
  font-weight: 400;
}

button {
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: inherit;
}

a {
  text-decoration: none;
}

.text-inherit * {
  color: inherit;
}

/* 데이트피커 */
.react-datepicker__input-container {
  display: flex;
  align-items: center;
}
.input-datepicker .react-datepicker__input-container:focus-within {
  border-color: #0da0c5 !important;
}
.input-datepicker .react-datepicker__input-container {
  padding: 0.9rem;
  border: 1px solid theme(colors.border);
  border-radius: 10px;
  display: flex;
  gap: 1rem;
}
.react-datepicker__input-container .react-datepicker__calendar-icon {
  font-size: 1.5rem;
}
.input-datepicker .react-datepicker__view-calendar-icon input {
  padding-left: 3rem;
  text-align: center;
}
.input-datepicker .react-datepicker-wrapper {
  width: 100%;
}
.input-datepicker .react-datepicker__time-container {
  width: 110px;
}
.input-datepicker .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 100%;
}

#checkbox.checkbox {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#checkbox + label:before {
  content: "";
}

/* 데이트피커 */
.custom-calendar.react-datepicker,
.custom-calendar .react-datepicker__month-container {
  width: 100%;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.custom-calendar .react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.custom-calendar .react-datepicker__header {
  background-color: #fff;
  padding: 10px;
  border-bottom: 0;
}
.custom-calendar .react-datepicker__day-names div {
  color: #999;
}
.custom-calendar .react-datepicker__month {
  margin-top: 0;
}

.custom-calendar .react-datepicker__day-name,
.custom-calendar .react-datepicker__day,
.custom-calendar .react-datepicker__time-name {
  width: 2rem;
  line-height: 2rem;
}

.custom-calendar .react-datepicker__day {
  font-weight: 600;
  color: var(--text);
}
.custom-calendar .react-datepicker__day--today {
  color: var(--primary);
}
.custom-calendar .react-datepicker__day--disabled,
.custom-calendar .react-datepicker__month-text--disabled,
.custom-calendar .react-datepicker__quarter-text--disabled,
.custom-calendar .react-datepicker__year-text--disabled {
  color: #bbb;
  font-weight: normal;
}
.react-datepicker__tab-loop,
.react-datepicker-popper > div {
  width: 100%;
}

.input-datepicker .react-datepicker__view-calendar-icon input {
  width: 100%;
}

.custom-calendar .react-datepicker__day--keyboard-selected,
.custom-calendar .react-datepicker__month-text--keyboard-selected,
.custom-calendar .react-datepicker__quarter-text--keyboard-selected,
.custom-calendar .react-datepicker__year-text--keyboard-selected {
  background-color: #bbdaed;
}
.custom-calendar .react-datepicker__day--outside-month {
  color: #999;
  background-color: transparent;
  font-weight: 400;
}

.custom-calendar .react-datepicker__day--selected,
.custom-calendar .react-datepicker__day--in-selecting-range,
.custom-calendar .react-datepicker__day--in-range,
.custom-calendar .react-datepicker__month-text--selected,
.custom-calendar .react-datepicker__month-text--in-selecting-range,
.custom-calendar .react-datepicker__month-text--in-range,
.custom-calendar .react-datepicker__quarter-text--selected,
.custom-calendar .react-datepicker__quarter-text--in-selecting-range,
.custom-calendar .react-datepicker__quarter-text--in-range,
.custom-calendar .react-datepicker__year-text--selected,
.custom-calendar .react-datepicker__year-text--in-selecting-range,
.custom-calendar .react-datepicker__year-text--in-range {
  background-color: #bbdaed;
}

/* sns 로그인 */
.bg-social {
  @apply h-10 w-10 rounded-full bg-contain;
}
.bg-social.google {
  background-image: url("/account/google.png");
}
.bg-social.kakao {
  background-image: url("/account/kakao.png");
}
.bg-social.naver {
  background-image: url("/account/naver.png");
}
.bg-social.apple {
  background-image: url("/account/apple.png");
}

/* 모아보기 방장 아이콘 */
.crown {
  position: relative;
}
.crown:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 18px;
  height: 18px;
  background-image: url(/moim/leader_crown.png);
  background-size: contain;
}

@media all and (max-width: 600px) {
  .crown:after {
    width: 15px;
    height: 15px;
  }
}
